{{ define "login/index" }}

{{ template "layouts/base" . }}

{{ end }}

{{ define "title" }}Login{{ end }}

{{ define "content" }}
<form hx-post="login">
    <!-- TODO: CSRF TOKEN -->
    <!-- <input type="hidden" name="_token" value="evk2A7LWaBMwOVLSeIiQeYz8OMqe0jHN7xmdkuxc"
                        autocomplete="off"> -->
    <!-- Email Address -->
    <div>
        <label class="block font-medium text-sm text-gray-700" for="email">
            Email
        </label>

        <input
            class="rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 block mt-1 w-full"
            id="email" type="email" name="email" required="required" autofocus="autofocus">

    </div>

    <!-- Password -->
    <div class="mt-4">
        <label class="block font-medium text-sm text-gray-700" for="password">
            Password
        </label>

        <input
            class="rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 block mt-1 w-full"
            id="password" type="password" name="password" required="required" autocomplete="current-password">

    </div>

    <div class="flex items-center justify-end mt-4">
        <a class="underline text-sm text-gray-600 hover:text-gray-900" href="register">
            Register
        </a>

        <button type="submit"
            class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150 ml-3">
            Log in
        </button>
    </div>
</form>
{{ end }}